html {
	background-image: url("/public/images/tree.jpg");
}

body {
    height: 520px;
    width: 650px;
    margin: 100px auto;
    font-size: 120%;
    background: radial-gradient(circle, #f869d5, #5650de);
    padding: 20px;
    border-radius: 30px;
}

.fError, .fSuccess {
    text-align: center;
    color: red;
    top: -100px;
}

#header {
    color: darkblue;
    text-align: center;
    font-size: 27px;
}

.footer {
    padding: 10px;
    font-size: 90%;
    border-top: 5px dotted #ccc;
    text-align: center;
    opacity: 90%;
}

.legend {
    color: darkblue;
}

#formhome table {
    text-align: left;
    border-spacing: 8px;
    margin: 30px;
    min-height: 20px;
    margin-left: 160px;
    font-size: 20px;
}

.field{
    height: 300px;
    text-align: left;
}

#formsignup table{
    border-spacing: 12px;
}

#formsignup table .buttons{
    font-size: 20px;
}

.error{
    color: red;
}


.admin {
    text-align: right;
}

.users{
    margin: 1px 50px;
    padding: 5px;
}

.rights{
    text-align: center;
    color: darkblue;
}

.buttons{
    font-size: 20px;
    mrgin: auto auto;
}

.main{
    text-align: center;
}

#formauthenticate table{
    margin: 60px 210px;
}