html {
	background-image: url("/public/images/tree.jpg");
}

body {
    height: 500px;
    width: 700px;
    margin: 100px auto;
    font-family: Arial;
    font-size: 120%;
    color: rgb(54, 47, 45);
    background: Azure;
    padding: 20px;
}

.fError, .fSuccess {
    text-align: center;
    color: red;
    top: -100px;
}

#header {
    color: darkblue;
    text-align: center;
    font-size: 27px;
}

.footer {
    padding: 10px;
    font-size: 90%;
    border-top: 5px dotted #ccc;
    text-align: center;
    opacity: 50%;
}

.legend {
    color: darkblue;
}

#formhome table {
    clear: both;
    text-align: left;
    border-spacing: 8px;
    margin: 30px 10px;
    min-height: 20px;
    margin-left: 190px;
}

.fieldset {
    font-size: 150%;
    padding: 10px;
    font-family: sans-serif;
    text-shadow: 0.8px 0.8px;
}

.error{
    color: red;
}

#formhome table .buttons{
    text-align: center;
}

.admin {
    text-align: right;
}

.users{
    margin: 1px 50px;
    padding: 5px;
}

.rights{
    text-align: center;
    color: darkblue;
}

.main{
    text-align: center;
}

#formauthenticate table{
    margin: 60px 210px;
}