#{extends 'main.html' /}

#{form @Application.login(), id:'formhome'}

<table>
  <tr>
    <td>
      <label for="email">Email: </label>
    </td>
    <td>
      <input type="email" name="email" id="email" value="${params.email}" />
      <span class="error">#{error 'email'/}</span>
    </td>
  </tr>

  <tr></tr>

  <tr>
    <td>
      <label for="password">Password: </label>
    </td>
    <td>
      <input type="password" name="password" id="password" value="${params.password}" />
      <span class="error">#{error 'password'/}</span>
    </td>
  </tr>

  <tr></tr>

  <tr>
    <td>

    </td>
    <td>
      <img src="@{Application.captcha(randomID)}" />
    </td>
  </tr>

  <tr>
    <td>
      <label for="code">Verification: </label>
    </td>
    <td>
      <input type="text" name="code" id="code" value="${params.code}" />
      <span class="error">#{error 'code'/}</span>
    </td>
    <td>
      <input type="hidden" name="randomID" value="${randomID}" />
    </td>
  </tr>

  <tr></tr>
  <tr></tr>

  <tr>
    <td class="buttons">
      <input type="submit" value="Log In">
      <input type="reset" value="Cancel">
    </td>
  </tr>

</table>

#{/form}

<p class="footer">
  <a href="@{Application.signup()}">Register</a> if you are a new user.
</p>
