#{extends 'index.html' /}
<br>
<h2 class="rights"><u>Please login for getting Admin rights</u></h2>

#{form @Application.authenticate(), id:'formauthenticate'}

<p>
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" value="${params.email}" />
    <span class="error">#{error 'email'/}</span>
</p>

<p>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" value="${params.password}" />
    <span class="error">#{error 'password'/}</span>
</p>

<p>
    <input type="submit" value="Confirm">
    <input type="reset" value="Cancel">
</p>


#{/form}