#{extends 'main.html' /}

<h3>Sign up for a New account</h3>

#{form @Application.register(), id:'formhome'}

<fieldset class="field">
  <legend class="legend">User Information</legend>
  <table>

    <tr>
      <td>
        <label for="fullname">Full Name: </label>
      </td>
      <td>
        <input type="fullname" name="fullname" id="fullname" value="${params.fullname}" />
        <span class="error">#{error 'fullname'/}</span>
      </td>
    </tr>

    <tr>
      <td>
        <label for="Male">Gender: </label>
      </td>
      <td>
        <input type="radio" name="Gender" id="Male" value="Male" />Male
        <label for="Female"></label>
        <input type="radio" name="Gender" id="Female" value="Female" />Female
        <span class="error">#{error 'Gender'/}</span>
      </td>
    </tr>
    <tr>
      <td>
        <label for="DOB">Date of Birth: </label>
      </td>
      <td>
        <input type="date" name="DOB" id="DOB" value="${params.DOB}" />
        <span class="error">#{error 'DOB'/}</span>
      </td>
    </tr>

    <tr>
      <td>
        <label for="email"> Your Email: </label>
      </td>
      <td>
        <input type="email" name="email" id="email" value="${params.email}" />
        <span class="error">#{error 'email'/}</span>
      </td>
    </tr>

    <tr>
      <td>
        <label for="password">Your Password: </label>
      </td>
      <td>
        <input type="password" name="password" id="password" value="${params.password}" />
        <span class="error">#{error 'password'/}</span>
      </td>
    </tr>

    <tr>
      <td>
        <label for="password2">Verify password: </label>
      </td>
      <td>
        <input type="password" name="password2" id="password2" value="${params.password2}">
        <span class="error">#{error 'password2'/}</span>
      </td>
    </tr>

    <tr></tr>
    <tr></tr>

    <tr>
      <td class="buttons">
        <input type="submit" value="Submit">
        <input type="reset" value="Cancel">
      </td>
    </tr>
</table>

</fieldset>

#{/form}