#{extends 'main.html' /}

<h3>Sign up for a New account</h3>

#{form @Application.register(), id:'formsignup'}

<fieldset class="field">
  <legend class="legend">User Information</legend>
  <table>

    <tr>
      <td>
        <label for="fullname">Full Name: </label>
      </td>
      <td>
        <input type="text" name="fullname" id="fullname" value="${params.fullname}" placeholder="Type your name" />
        <span class="error">#{error 'fullname'/}</span>
      </td>
    </tr>

    <tr>
      <td>
        <label for="Male">Gender: </label>
      </td>
      <td>
        <input type="radio" name="Gender" id="Male" value="Male" />Male
        <label for="Female"></label>
        <input type="radio" name="Gender" id="Female" value="Female" />Female
        <span class="error">#{error 'Gender'/}</span>
      </td>
    </tr>

    <tr>
      <td>
        <label for="continent">Continent: </label>
      </td>
      <td>
        <input type="text" name="continent" id="continent" value="${params.continent}" placeholder="Continent you live in.." />
        <ul class="list"></ul>
        <script src="@{'/public/javascripts/js.js'}" type="text/javascript"></script>
        <span class="error">#{error 'continent'/}</span>
      </td>
    </tr>

    <tr>
      <td>
        <label for="DOB">Date of Birth: </label>
      </td>
      <td>
        <input type="date" name="DOB" id="DOB" value="${params.DOB}" placeholder="Type your birthdate" />
        <span class="error">#{error 'DOB'/}</span>
      </td>
    </tr>

    <tr>
      <td>
        <label for="email"> Your Email: </label>
      </td>
      <td>
        <input type="email" name="email" id="email" value="${params.email}" placeholder="Type your email"/>
        <span class="error">#{error 'email'/}</span>
      </td>
    </tr>

    <tr>
      <td>
        <label for="password">Your Password: </label>
      </td>
      <td>
        <input type="password" name="password" id="password" value="${params.password}" placeholder="Type your password" />
        <span class="error">#{error 'password'/}</span>
      </td>
    </tr>

    <tr>
      <td>
        <label for="password2">Verify password: </label>
      </td>
      <td>
        <input type="password" name="password2" id="password2" value="${params.password2}" placeholder="type your password again">
        <span class="error">#{error 'password2'/}</span>
      </td>
    </tr>

    <tr>
      <td>
        <input type="submit" value="Submit" class="buttons">
        <input type="reset" value="Cancel" class="buttons">
      </td>
    </tr>
</table>

</fieldset>

#{/form}